.content {
  color: #000000;

  h1 {
    font-size: 0.6em;
  }

  h2 {
    font-size: 0.7em;
  }

  h3 {
    font-size: 0.9em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 2.5;
  }

  [data-content-type="paragraph"] {
    margin-bottom: 10px;
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: #000000
  }

  /*
  ._blockOuter_xo7pf_5:not([data-prev-type])>._block_xo7pf_5>._blockContent_xo7pf_22[data-content-type=bulletListItem]:before {
    margin: 0;
    content: "";
  } */
}