.tiptap {
  color: #000000;
}

.tiptap h1 {
  font-size: 0.6em;
}

.tiptap h2 {
  font-size: 0.7em;
}

.tiptap h3 {
  font-size: 0.9em;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 2.5;
}

.tiptap [data-content-type="paragraph"] {
  margin-bottom: 10px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #000000
}

/*
.tiptap ._blockOuter_xo7pf_5:not([data-prev-type])>._block_xo7pf_5>._blockContent_xo7pf_22[data-content-type=bulletListItem]:before {
  margin: 0;
  content: "";
} */