[data-file-block] .bn-visual-media {
  border-radius: 12px;
}

.bn-block a {
  color: #5D5FEF;
  font-weight: 600;
}

.bn-block h1,
.bn-block h2,
.bn-block h3,
.bn-block h4,
.bn-block h5,
.bn-block h6 {
  padding-top: 30px;
  padding-bottom: 10px;
  color: black;
}

.bn-block img,
.bn-block video {
  width: 100%;
}

.bn-block p {
  padding: 15px 0;
}

.bn-block-content[data-content-type=bulletListItem] p,
.bn-block-content[data-content-type=numberedListItem] p {
  padding: 0;
}

.bn-block img {
  margin: 15px 0;
}